<a href="https://colab.research.google.com/github/Brandon-Bernal-A/R/blob/main/Introduccion/Data_Frame_y_Listas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Un **Data.frame**  tiene las variables de un conjunto de datos como columans y las observaciones como filas, por cada columna cuenta como un vector

Puede verse como

name   text text …

jaja   3 5 5 5 5

kdkd   4 4 4 3 4

isiz   2 3 4 5 4

Cuando tienes una base de datos bastante amplia, puedes mostrar los primeros o ultimos resultados de tu base de datos con la función **head()** y **tail()**

Otro método que se utiliza a menudo para obtener una visión rápida de tus datos es **'str()'** y

El número total de observaciones (por ejemplo, 32 tipos de coches)

El número total de variables (por ejemplo, 11 características del coche)

Una lista completa de los nombres de las variables (por ejemplo: mpg, yl .) .

El tipo de datos de cada variable (por ejemplo num )

**data.frame()**

Esta función crea un marco de datos como se describio anteriormente, veamos un ejemplo

In [2]:
# Definition of vectors
name <- c("Mercury", "Venus", "Earth",
          "Mars", "Jupiter", "Saturn",
          "Uranus", "Neptune")

type <- c("Terrestrial planet",
          "Terrestrial planet",
          "Terrestrial planet",
          "Terrestrial planet", "Gas giant",
          "Gas giant", "Gas giant", "Gas giant")
diameter <- c(0.382, 0.949, 1, 0.532,
              11.209, 9.449, 4.007, 3.883)
rotation <- c(58.64, -243.02, 1, 1.03,
              0.41, 0.43, -0.72, 0.67)
rings <- c(FALSE, FALSE, FALSE, FALSE, TRUE, TRUE, TRUE, TRUE)

# Create a data frame from the vectors
planets_df <- data.frame(name,type,diameter,rotation,rings)
planets_df

  name    type               diameter rotation rings
1 Mercury Terrestrial planet  0.382     58.64  FALSE
2 Venus   Terrestrial planet  0.949   -243.02  FALSE
3 Earth   Terrestrial planet  1.000      1.00  FALSE
4 Mars    Terrestrial planet  0.532      1.03  FALSE
5 Jupiter Gas giant          11.209      0.41   TRUE
6 Saturn  Gas giant           9.449      0.43   TRUE
7 Uranus  Gas giant           4.007     -0.72   TRUE
8 Neptune Gas giant           3.883      0.67   TRUE

También podemos seleccionar solo partes como [i,j] donde i es la fila y j la columna

In [3]:
planets_df[2:5,5]

[1] FALSE FALSE FALSE  TRUE

En vez de poner numeros en las columnas, puedes llamarlos por el nombre de la variable

In [5]:
planets_df[2:5,"rings"]

[1] FALSE FALSE FALSE  TRUE

pero hay un atajo, con el signo '$' cuando las columnas tienen nombre y quieres imprimir toda la columna

In [6]:
v <- planets_df$rings
v

[1] FALSE FALSE FALSE FALSE  TRUE  TRUE  TRUE  TRUE

Podemos seleccionar todos los datos que cumpla cierta condicion

In [7]:
planets_df[v,]

  name    type      diameter rotation rings
5 Jupiter Gas giant 11.209    0.41    TRUE
6 Saturn  Gas giant  9.449    0.43    TRUE
7 Uranus  Gas giant  4.007   -0.72    TRUE
8 Neptune Gas giant  3.883    0.67    TRUE

**Subsets**

Para hacer esto anterior, hay un atajo con la funcion 'subset()' subset(my_df, subset = some_condition) donde el primer espacio es el data.frame y el segundo la condicon debería imprimir lo mismo

In [9]:
subset(planets_df, subset = rings)

  name    type      diameter rotation rings
5 Jupiter Gas giant 11.209    0.41    TRUE
6 Saturn  Gas giant  9.449    0.43    TRUE
7 Uranus  Gas giant  4.007   -0.72    TRUE
8 Neptune Gas giant  3.883    0.67    TRUE

In [11]:
subset(planets_df, subset = diameter<1 )

  name    type               diameter rotation rings
1 Mercury Terrestrial planet 0.382      58.64  FALSE
2 Venus   Terrestrial planet 0.949    -243.02  FALSE
4 Mars    Terrestrial planet 0.532       1.03  FALSE

**Ordenar datos**

Puedes ordenar tus datos con la función **order()** esta función nos da el orden que tienen

In [13]:
a <- c(100, 10, 1000)
order(a)

#esto nos permite reordenar pues
a[order(a)]

[1] 2 1 3

[1]   10  100 1000

**Las listas** sirven para almacenar megadatos y sigue la sig estructura

my_list <- list(comp1, comp2 ...)

Donde cada componenre puede ser una lista, un vector o una matriz

**Dar nombres a listas**

my_list <- list(name1 = your_comp1, name2 = your_comp2)


También puedes usar la funcion **name()**

my_list <- list(your_comp1, your_comp2)

names(my_list) <- c("name1", "name2")

\\
**Seleccionar Datos**

Al igual que antes podemos seleccionar componentes, pero ahora usando [[]] igual podemos llamarlos por nombres o usando '$'

shining_list[["reviews"]] (usar ".")

shining_list$reviews

podemos seleccionar elementos de los componeneted como [[]][]

shining_list[[2]][1]