<a href="https://colab.research.google.com/github/Brandon-Bernal-A/R/blob/main/Introduccion/Primeros_Pasos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Comentarios**: Se utiliza el signo "#" para añadir comentarios

**Operaciones**

In [4]:
# Suma
5 + 5

[1] 10

In [6]:
# Resta
5 - 5

[1] 0

In [7]:
# multiplicación
3 * 5

[1] 15

In [9]:
 # división
  (5 + 5) / 2

[1] 5

In [10]:
 # Exponencial
  2^5

[1] 32

In [3]:
 # Modulo
 28%%6 #Regresa el residuo de una división de enteros

[1] 4

**Variables**:
Podemos definir variables poniendo "nombres_variable" <- "valor o asignación"

In [11]:
x <- 32

# Imprime la variable solo con ponerla
x

[1] 32

**Tipos de DatoDatos**

 * los números decimales  4.5 son conocidos "numéricos"
 * los números enteros 4 son conocidos "numéricos"
 * los valores booleanos (TRUE or FALSE) se llaman "lógicos"
 * los textos (o cadena) son conocidos como "caracteres", pero el texto
 debe estar sí o sí en " "

La funcion 'class()' te dice que tipo de dato es

In [13]:
class("Hola")

[1] "character"

In [14]:
class(4445)

[1] "numeric"

In [16]:
class(TRUE)

[1] "logical"

**Vectores**:
Se crean vectores con la función combinar 'c()' qué es una lista separadas por comas

In [19]:
numeric_vector <- c(1, 2, 3)
character_vector <- c("a", "b", "c")
boolean_vector <- c(TRUE, FALSE, TRUE)

numeric_vector

[1] 1 2 3

In [20]:
character_vector

[1] "a" "b" "c"

Al crear estos vectores puedes asignarles nombres e identificar cada elemento del vector con un nombre usando la función “names()”

In [24]:
some_vector <- c("John Doe", "poker player")
names(some_vector) <- c("Name", "Profession")

some_vector

          Name     Profession
    "John Doe" "poker player"

Pero asignarle un nombre muchos vectores es tedioso hacer lo mismo, podemos crear otra combinación de la siguiente forma

In [25]:
# Poker winnings from Monday to Friday
poker_vector <- c(140, -50, 20, -120, 240)

# Roulette winnings from Monday to Friday
roulette_vector <- c(-24, -50, 100, -350, 10)

# The variable days_vector
days_vector <- c("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")

 # Assign the names of the day to roulette_vector and poker_vector
 names(poker_vector) <- days_vector
 names(roulette_vector) <- days_vector

In [26]:
poker_vector
roulette_vector

   Monday   Tuesday Wednesday  Thursday    Friday
      140       -50        20      -120       240

   Monday   Tuesday Wednesday  Thursday    Friday
      -24       -50       100      -350        10

**Sumar vectores**

Cuando sumamos vectores, se suma entrada por entrada  

c(1, 2, 3) + c(4, 5, 6)

c(1 + 4, 2 + 5, 3 + 6)

c(5, 7, 9)

También se puede trabajar con variables

In [31]:
a <- c(1, 2, 3)
b <- c(4, 1, 6)

c <- a + b
c

[1] 5 3 9

La función **'sum()'** suma todos los elementos del vector

In [29]:
sum(a)

[1] 6

Para **comparar** valores podemos usar

">"

"<"

"=="

">=" o "<="

"!="

Puedes asiganrle una cadena que cumpla ciertos requisitos

In [35]:
a > b # Compara entrada por entrada y dice si es cierto o falso

[1] FALSE  TRUE FALSE

In [42]:
# Para seleccionar elemenos que contengan una condición
g <- a < b
a[g]

[1] 1 3

**Seleccionar valores de un vector**

Podemos seleccionar elementos de un vector poniendo vector[i] donde i nos da la posición del elemento dentro del vector, [1] regresa la posición 1, [2] regresa la posición 2.

Podemos Seleccionar más de un valor, poniendo una lista de las posiciones

In [36]:
poker_vector[c(1, 5)]

Monday Friday
   140    240

Tambien podemos agregar una abreviatura 1:3 en lugar de c(1,2,3)

Si le agregamos nombre a los vectores, podemos llamarlos por nombre
 c("name1" , "name2", ...) siempre en comillas

In [38]:
poker_vector[2:4]
poker_vector["Monday"]

  Tuesday Wednesday  Thursday
      -50        20      -120

Monday
   140