<a href="https://colab.research.google.com/github/Brandon-Bernal-Alarcon/Notas--R/blob/main/Tidyverse/dplyr_basico.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**install.packages**

In [1]:
install.packages("tidyverse")
install.packages("gapminder") #Es una base de datos para practicar

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

**library()**

In [2]:
# Cargar el paquete gapminder
library(gapminder)

# Cargar el paquete dplyr
library(dplyr)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

**str()** Nos da la estructura del data.frame

In [3]:
str(gapminder)

tibble [1,704 × 6] (S3: tbl_df/tbl/data.frame)
 $ country  : Factor w/ 142 levels "Afghanistan",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ continent: Factor w/ 5 levels "Africa","Americas",..: 3 3 3 3 3 3 3 3 3 3 ...
 $ year     : int [1:1704] 1952 1957 1962 1967 1972 1977 1982 1987 1992 1997 ...
 $ lifeExp  : num [1:1704] 28.8 30.3 32 34 36.1 ...
 $ pop      : int [1:1704] 8425333 9240934 10267083 11537966 13079460 14880372 12881816 13867957 16317921 22227415 ...
 $ gdpPercap: num [1:1704] 779 821 853 836 740 ...

**filter()**

El paquete dplyr proporciona herramientas para transformar datos. Puedes usar la función **filter()** para seleccionar filas especficas basadas en condiciones.

In [8]:
# Filtrar observaciones del año 2007
gapminder_2007 <- filter(gapminder, year == 2007)
head(gapminder_2007)

  country     continent year lifeExp pop      gdpPercap
1 Afghanistan Asia      2007 43.828  31889923   974.5803
2 Albania     Europe    2007 76.423   3600523  5937.0295
3 Algeria     Africa    2007 72.301  33333216  6223.3675
4 Angola      Africa    2007 42.731  12420476  4797.2313
5 Argentina   Americas  2007 75.320  40301927 12779.3796
6 Australia   Oceania   2007 81.235  20434176 34435.3674

**Pipe %>%**

También se puede crear por "pipe" o tuberías, que nos ayuda a seleccionar la información de forma más fácil, se ocupa como 'base de datos' %>% y ya luego lo ocupamos

In [7]:
# Filtrar el conjunto de datos gapminder para el año 1957
a <- gapminder %>%
  filter(year == 1957)
head(a)

  country     continent year lifeExp pop      gdpPercap
1 Afghanistan Asia      1957 30.332   9240934   820.853
2 Albania     Europe    1957 59.280   1476505  1942.284
3 Algeria     Africa    1957 45.685  10270856  3013.976
4 Angola      Africa    1957 31.999   4561361  3827.940
5 Argentina   Americas  1957 64.399  19610538  6856.856
6 Australia   Oceania   1957 70.330   9712569 10949.650

In [10]:
# Podemos filtrar por varios filtros y mayor o menor
# Filtrar para China en 2002
gapminder %>%
  filter(country == "China", year < 2002)

   country continent year lifeExp  pop        gdpPercap
1  China   Asia      1952 44.00000  556263527  400.4486
2  China   Asia      1957 50.54896  637408000  575.9870
3  China   Asia      1962 44.50136  665770000  487.6740
4  China   Asia      1967 58.38112  754550000  612.7057
5  China   Asia      1972 63.11888  862030000  676.9001
6  China   Asia      1977 63.96736  943455000  741.2375
7  China   Asia      1982 65.52500 1000281000  962.4214
8  China   Asia      1987 67.27400 1084035000 1378.9040
9  China   Asia      1992 68.69000 1164970000 1655.7842
10 China   Asia      1997 70.42600 1230075000 2289.2341

**arrange()**

La función arrange() en dplyr te permite ordenar observaciones en orden ascendente o descendente basado en una variable especificada.

In [12]:
# Ordenar en orden ascendente de lifeExp
a <- gapminder %>%
  arrange(lifeExp)
head(a)

  country      continent year lifeExp pop     gdpPercap
1 Rwanda       Africa    1992 23.599  7290203  737.0686
2 Afghanistan  Asia      1952 28.801  8425333  779.4453
3 Gambia       Africa    1952 30.000   284320  485.2307
4 Angola       Africa    1952 30.015  4232095 3520.6103
5 Sierra Leone Africa    1952 30.331  2143249  879.7877
6 Afghanistan  Asia      1957 30.332  9240934  820.8530

In [13]:
# Ordenar en orden descendente de lifeExp
a <- gapminder %>%
  arrange(desc(lifeExp))
head(a)

  country          continent year lifeExp pop       gdpPercap
1 Japan            Asia      2007 82.603  127467972 31656.07
2 Hong Kong, China Asia      2007 82.208    6980412 39724.98
3 Japan            Asia      2002 82.000  127065841 28604.59
4 Iceland          Europe    2007 81.757     301931 36180.79
5 Switzerland      Europe    2007 81.701    7554661 37506.42
6 Hong Kong, China Asia      2002 81.495    6762476 30209.02

In [15]:
#puedes combinar tanto filtro como ordenar, usando otro %>%

# Filtrar para el año 1957, luego ordenar en orden descendente de población
a <- gapminder %>%
  filter(year == 1957) %>%
  arrange(desc(pop))
head(a)

  country       continent year lifeExp  pop       gdpPercap
1 China         Asia      1957 50.54896 637408000   575.9870
2 India         Asia      1957 40.24900 409000000   590.0620
3 United States Americas  1957 69.49000 171984000 14847.1271
4 Japan         Asia      1957 65.50000  91563009  4317.6944
5 Indonesia     Asia      1957 39.91800  90124000   858.9003
6 Germany       Europe    1957 69.10000  71019069 10187.8267

In [17]:
#Puedes arreglar considerando varios caracteres, se ordena conforme van los argmentos

# Ordenar por continente, luego por lifeExp dentro de cada continente
a <- gapminder %>%
  arrange(continent, lifeExp)
head(a)

  country      continent year lifeExp pop     gdpPercap
1 Rwanda       Africa    1992 23.599  7290203  737.0686
2 Gambia       Africa    1952 30.000   284320  485.2307
3 Angola       Africa    1952 30.015  4232095 3520.6103
4 Sierra Leone Africa    1952 30.331  2143249  879.7877
5 Mozambique   Africa    1952 31.286  6446316  468.5260
6 Sierra Leone Africa    1957 31.570  2295678 1004.4844

**mutate()**

Nos ayuda a cambiar valores de una columna o agregar más

In [19]:
# Use mutate to change lifeExp to be in months
a <- gapminder %>%
mutate(lifeExp = 12 * lifeExp)

# Use mutate to create a new column called lifeExpMonths
b <- gapminder %>%
mutate(lifeExpMonths = 12 * lifeExp)

In [22]:
head(a)

  country     continent year lifeExp pop      gdpPercap
1 Afghanistan Asia      1952 345.612  8425333 779.4453
2 Afghanistan Asia      1957 363.984  9240934 820.8530
3 Afghanistan Asia      1962 383.964 10267083 853.1007
4 Afghanistan Asia      1967 408.240 11537966 836.1971
5 Afghanistan Asia      1972 433.056 13079460 739.9811
6 Afghanistan Asia      1977 461.256 14880372 786.1134

In [23]:
head(b)

  country     continent year lifeExp pop      gdpPercap lifeExpMonths
1 Afghanistan Asia      1952 28.801   8425333 779.4453  345.612
2 Afghanistan Asia      1957 30.332   9240934 820.8530  363.984
3 Afghanistan Asia      1962 31.997  10267083 853.1007  383.964
4 Afghanistan Asia      1967 34.020  11537966 836.1971  408.240
5 Afghanistan Asia      1972 36.088  13079460 739.9811  433.056
6 Afghanistan Asia      1977 38.438  14880372 786.1134  461.256