<a href="https://colab.research.google.com/github/Brandon-Bernal-Alarcon/Notas--R/blob/main/Manipulacion_Dplyr/Funciones_Dplyr.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Funciones simples de dplyr con datos**

In [35]:
# Librerías a usar
library(dplyr)
library(tibble)

# Data frame de ejemplo

set.seed(123)
datos <- tibble(
  id = 1:100,
  edad = sample(18:65, 100, replace = TRUE),
  sexo = sample(c("Hombre", "Mujer"), 100, replace = TRUE),
  ciudad = sample(c("CDMX", "Guadalajara", "Monterrey", "Puebla"), 100, replace = TRUE),
  ingreso_mensual = round(rnorm(100, mean = 15000, sd = 4000), 0),
  nivel_educativo = sample(c("Secundaria", "Preparatoria", "Universidad", "Posgrado"), 100, replace = TRUE)
)

In [2]:
head(datos)

  id edad sexo   ciudad      ingreso_mensual nivel_educativo
1 1  48   Hombre Monterrey   20490           Universidad
2 2  32   Mujer  CDMX        12743           Posgrado
3 3  31   Hombre Guadalajara 18881           Posgrado
4 4  20   Mujer  Guadalajara 14925           Preparatoria
5 5  59   Mujer  CDMX        16449           Secundaria
6 6  60   Mujer  Puebla      23045           Secundaria

**glimpse()**

Muestra una vista rápida del contenido y estructura del data frame.

In [3]:
glimpse(datos)

Rows: 100
Columns: 6
$ id              <int> 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16,…
$ edad            <int> 48, 32, 31, 20, 59, 60, 54, 31, 42, 43, 44, 22, 44, 45…
$ sexo            <chr> "Hombre", "Mujer", "Hombre", "Mujer", "Mujer", "Mujer"…
$ ciudad          <chr> "Monterrey", "CDMX", "Guadalajara", "Guadalajara", "CD…
$ ingreso_mensual <dbl> 20490, 12743, 18881, 14925, 16449, 23045, 10288, 11979…
$ nivel_educativo <chr> "Universidad", "Posgrado", "Posgrado", "Preparatoria",…

**select()**

Selecciona columnas específicas.

In [5]:
d <- datos %>%
  select(id, edad, ciudad)
head(d)

  id edad ciudad
1 1  48   Monterrey
2 2  32   CDMX
3 3  31   Guadalajara
4 4  20   Guadalajara
5 5  59   CDMX
6 6  60   Puebla

**arrange()**

Ordena filas según una o más variables.

In [7]:
#De menor a mayor:

d <- datos %>%
  arrange(edad)
head(d)

  id edad sexo   ciudad      ingreso_mensual nivel_educativo
1  4 20   Mujer  Guadalajara 14925           Preparatoria
2 97 20   Mujer  Monterrey   13616           Universidad
3 74 21   Mujer  CDMX        14442           Posgrado
4 12 22   Mujer  CDMX        22379           Universidad
5 47 22   Hombre Guadalajara 16479           Posgrado
6 76 22   Mujer  CDMX        17154           Universidad

In [8]:
#De mayor a menor:

d <- datos %>%
  arrange(desc(edad))
head(d)

  id edad sexo   ciudad      ingreso_mensual nivel_educativo
1 71 65   Mujer  CDMX        18517           Posgrado
2 86 65   Mujer  Puebla      18183           Preparatoria
3 59 64   Hombre Puebla      17197           Preparatoria
4 81 63   Mujer  Monterrey   18887           Preparatoria
5 90 63   Mujer  Monterrey   15040           Preparatoria
6 33 62   Mujer  Guadalajara 18166           Preparatoria

**filter()**

Filtra filas que cumplan condiciones.

In [9]:
d <- datos %>%
  filter(ciudad == "CDMX", ingreso_mensual > 18000)
head(d)

  id edad sexo   ciudad ingreso_mensual nivel_educativo
1 12 22   Mujer  CDMX   22379           Universidad
2 14 45   Mujer  CDMX   23784           Preparatoria
3 26 34   Hombre CDMX   22604           Posgrado
4 42 49   Mujer  CDMX   18842           Preparatoria
5 51 35   Mujer  CDMX   19367           Secundaria
6 64 23   Hombre CDMX   19908           Universidad

**mutate()**

Crea o modifica columnas.

In [10]:
d <- datos %>%
  mutate(ingreso_anual = ingreso_mensual * 12)
head(d)

#Si no quieres conservar las columnas originales:
c <- datos %>%
  mutate(ingreso_anual = ingreso_mensual * 12, .keep = "none")
head(c)

  id edad sexo   ciudad      ingreso_mensual nivel_educativo ingreso_anual
1 1  48   Hombre Monterrey   20490           Universidad     245880
2 2  32   Mujer  CDMX        12743           Posgrado        152916
3 3  31   Hombre Guadalajara 18881           Posgrado        226572
4 4  20   Mujer  Guadalajara 14925           Preparatoria    179100
5 5  59   Mujer  CDMX        16449           Secundaria      197388
6 6  60   Mujer  Puebla      23045           Secundaria      276540

  ingreso_anual
1 245880
2 152916
3 226572
4 179100
5 197388
6 276540

**count()**

Cuenta ocurrencias de una variable.

In [11]:
d <- datos %>%
  count(ciudad, sort = TRUE)
head(d)

  ciudad      n
1 CDMX        38
2 Guadalajara 26
3 Monterrey   18
4 Puebla      18

In [12]:
#Con ponderación:

datos %>%
  count(ciudad, wt = ingreso_mensual, sort = TRUE)

  ciudad      n
1 CDMX        557045
2 Guadalajara 407217
3 Monterrey   266823
4 Puebla      258240

**summarize() y group_by()**

Agrupa y resume estadísticas.

In [15]:
datos %>%
  group_by(ciudad) %>%
    summarize(
    ingreso_promedio = mean(ingreso_mensual),
    edad_maxima = max(edad)
    )

  ciudad      ingreso_promedio edad_maxima
1 CDMX        14659.08         65
2 Guadalajara 15662.19         62
3 Monterrey   14823.50         63
4 Puebla      14346.67         65

**slice() y variantes**

Selecciona filas específicas:

In [16]:
#Primeras filas:

datos %>%
  slice_head(n = 5)

  id edad sexo   ciudad      ingreso_mensual nivel_educativo
1 1  48   Hombre Monterrey   20490           Universidad
2 2  32   Mujer  CDMX        12743           Posgrado
3 3  31   Hombre Guadalajara 18881           Posgrado
4 4  20   Mujer  Guadalajara 14925           Preparatoria
5 5  59   Mujer  CDMX        16449           Secundaria

In [17]:
# Últimas filas:

datos %>%
  slice_tail(n = 5)

  id  edad sexo   ciudad      ingreso_mensual nivel_educativo
1  96 24   Mujer  Puebla      18587           Posgrado
2  97 20   Mujer  Monterrey   13616           Universidad
3  98 40   Hombre CDMX         7872           Secundaria
4  99 32   Hombre Guadalajara 16860           Secundaria
5 100 38   Mujer  CDMX         7196           Universidad

In [18]:
#Filas al azar:

datos %>%
  slice_sample(n = 3)

  id edad sexo   ciudad    ingreso_mensual nivel_educativo
1 15 26   Hombre Puebla    14181           Posgrado
2 83 40   Hombre CDMX      17116           Secundaria
3 49 29   Mujer  Monterrey 16288           Posgrado

In [19]:
#Filas con máximo ingreso: (tambien se puede con min)

datos %>%
  slice_max(order_by = ingreso_mensual, n = 2)

  id edad sexo   ciudad      ingreso_mensual nivel_educativo
1 53 44   Hombre Guadalajara 25833           Posgrado
2 84 52   Hombre Guadalajara 24818           Preparatoria

**select con : (rango)**

Seleccionar columnas contiguas:

In [21]:
d <- datos %>%
  select(id:ciudad)
head(d)

  id edad sexo   ciudad
1 1  48   Hombre Monterrey
2 2  32   Mujer  CDMX
3 3  31   Hombre Guadalajara
4 4  20   Mujer  Guadalajara
5 5  59   Mujer  CDMX
6 6  60   Mujer  Puebla

**select con contains()**

Selecciona columnas que contienen cierta palabra:

In [24]:
d <- datos %>%
  select(contains("ingreso"))
head(d)

  ingreso_mensual
1 20490
2 12743
3 18881
4 14925
5 16449
6 23045

Tambien se puede usar

ends_with() - Termina con

contains () -   contiene

star_whit() -  empieza con

last_col ()  -  última columna
         
matches() - Empata

**Eliminar columnas**

Usar - para excluir columnas:

In [25]:
d <- datos %>%
  select(-nivel_educativo)
head(d)

  id edad sexo   ciudad      ingreso_mensual
1 1  48   Hombre Monterrey   20490
2 2  32   Mujer  CDMX        12743
3 3  31   Hombre Guadalajara 18881
4 4  20   Mujer  Guadalajara 14925
5 5  59   Mujer  CDMX        16449
6 6  60   Mujer  Puebla      23045

**rename()**

Renombra columnas:

In [27]:
d <- datos %>%
  rename(educacion = nivel_educativo)
head(d)

  id edad sexo   ciudad      ingreso_mensual educacion
1 1  48   Hombre Monterrey   20490           Universidad
2 2  32   Mujer  CDMX        12743           Posgrado
3 3  31   Hombre Guadalajara 18881           Posgrado
4 4  20   Mujer  Guadalajara 14925           Preparatoria
5 5  59   Mujer  CDMX        16449           Secundaria
6 6  60   Mujer  Puebla      23045           Secundaria

In [28]:
# También lo puedes usar con count():

datos %>%
  count(sexo) %>%
  rename(total = n)

  sexo   total
1 Hombre 43
2 Mujer  57

**relocate()**

Reubica columnas sin eliminarlas:

In [30]:
d <- datos %>%
  relocate(ciudad, .before = sexo)
head(d)

  id edad ciudad      sexo   ingreso_mensual nivel_educativo
1 1  48   Monterrey   Hombre 20490           Universidad
2 2  32   CDMX        Mujer  12743           Posgrado
3 3  31   Guadalajara Hombre 18881           Posgrado
4 4  20   Guadalajara Mujer  14925           Preparatoria
5 5  59   CDMX        Mujer  16449           Secundaria
6 6  60   Puebla      Mujer  23045           Secundaria

**filter con %in%**

Filtrar varios valores:

In [31]:
d <- datos %>%
  filter(ciudad %in% c("CDMX", "Guadalajara"))
head(d)

  id edad sexo   ciudad      ingreso_mensual nivel_educativo
1  2 32   Mujer  CDMX        12743           Posgrado
2  3 31   Hombre Guadalajara 18881           Posgrado
3  4 20   Mujer  Guadalajara 14925           Preparatoria
4  5 59   Mujer  CDMX        16449           Secundaria
5  9 42   Mujer  Guadalajara 13675           Preparatoria
6 11 44   Hombre CDMX        16257           Secundaria

**levels() y droplevels()**

levels() se usa para ver los niveles de factores:

In [32]:
levels(factor(datos$sexo))

[1] "Hombre" "Mujer"

Para eliminar niveles no presentes después de filtrar:

In [33]:
datos_mujeres <- datos %>%
  filter(sexo == "Mujer") %>%
    droplevels()

    levels(datos_mujeres$sexo)

NULL

**table()**

Crea tablas de contingencia entre dos variables categóricas:

In [34]:
table(datos$sexo, datos$ciudad)

         CDMX Guadalajara Monterrey Puebla
  Hombre   17          13         8      5
  Mujer    21          13        10     13