<a href="https://colab.research.google.com/github/Brandon-Bernal-Alarcon/Notas--R/blob/main/Manipulacion_Dplyr/Manipular_cadenas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Cargar librería necesaria
library(stringr)
library(forcats)  # Solo si usas fct_collapse

In [8]:
# Crear el data frame con ingresos como texto con comas
sales <- data.frame(
  company = c("A", "B", "C", "D"),
    revenue = c("150,000", "200,000", "180,000", "270,000")
    )
sales

  company revenue
1 A       150,000
2 B       200,000
3 C       180,000
4 D       270,000

**str_remove**

Elimina caracteres específicos de un texto.

In [10]:
sales$revenue_trimmed <- str_remove(sales$revenue, ",")
sales$revenue_usd <- as.numeric(sales$revenue_trimmed)
sales
# Útil cuando tienes números como texto con comas u otros símbolos (%, $, etc.)

  company revenue revenue_trimmed revenue_usd
1 A       150,000 150000          150000
2 B       200,000 200000          200000
3 C       180,000 180000          180000
4 D       270,000 270000          270000

**mean()**
Calcula la media o promedio de un vector numérico

In [13]:
options(scipen = 999)  # Alta penalización para que evite notación científica
mean(sales$revenue_usd)

[1] 200000

** Replace ()**

 Cambia valores en un vector según una condición.

In [14]:
vector <- c(1, 2, 2, 3, 4)
replace(vector, vector == 2, 99)

[1]  1 99 99  3  4

** duplicated y distinct **

duplicated() detecta valores duplicados y distinct() elimina duplicados, para cuando hay duplicados parciales (se repiten unos datos)  distinct(data, .keep_all = TRUE)

In [16]:
duplicated(c(1, 2, 2, 3))  # TRUE donde hay duplicado

[1] FALSE FALSE  TRUE FALSE

In [20]:
#Para eliminar filas duplicadas en un data.frame:

datos <- data.frame(
  nombre = c("Ana", "Juan", "Ana", "Luis"),
    edad = c(23, 30, 23, 40)
    )

    distinct(datos)  # elimina duplicados exactos

    distinct(datos, .keep_all = TRUE)  # conserva todas las columnas

  nombre edad
1 Ana    23
2 Juan   30
3 Luis   40

  nombre edad
1 Ana    23
2 Juan   30
3 Luis   40

** str_to_upper **

 Convierte texto a mayúsculas.

In [22]:
str_to_upper("hola mundo")

[1] "HOLA MUNDO"

** str_to_lower**

Convierte texto a minúsculas.

In [24]:
str_to_lower("HOLA Mundo")

[1] "hola mundo"

** str_trim **
Elimina espacios al inicio y final, pero no entre palabras.

In [25]:
texto <- "  Hola mundo   "
str_trim(texto)  # "Hola mundo”

[1] "Hola mundo"

** fct_collapse **

Agrupa categorías en factores bajo un nuevo nombre.

In [26]:
animales <- as.factor(c("pug", "salchicha", "pithull", "pajaro"))
perros <- c("pug", "salchicha", "pithull")

fct_collapse(animales, dogs = perros)

# Muy útil para agrupar muchas categorías en una sola (por ejemplo: tipos de perros, frutas dulces, colores cálidos, etc.).

[1] dogs   dogs   dogs   pajaro
Levels: pajaro dogs

**as.numeric()**

Convierte un objeto a tipo numérico (numeric).

as.numeric(x)

x: objeto que quieres convertir (puede ser texto, factor, etc.)


**is.numeric()**

Verifica si un objeto ya es de tipo numérico.
Devuelve TRUE o FALSE.

is.numeric(x)

x: objeto que quieres comprobar