<a href="https://colab.research.google.com/github/Brandon-Bernal-Alarcon/Notas--R/blob/main/Intermedio/Ciclos_y_Fechas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**While**

Sigue la misma estructura que un if

\

while(condition){

  \
      ejecución

  \
         }

\

Se ejecutara siempre que la condición se cumpla y seguira funcionado hasta que de falso

En la ejecución puede ir cualquier cosa, incluyendo while, if u otra cosa **'break'** sirve para cerrar el ciclo

**For**

El for se ejecuta por cada variable en una secuencia

\
           for(var in seq){
            \
            expresión
            \
            }

La secuencia puede ser un vector o una lista, marco de datos o matrices en ves de poner var in seq, podemos usar rangos, con i in 1:5

**nchar** es una funcion que nos da el numero de carscteres

En for tambien podemos usar **Break**, pero existe el **'next'** que salta a la siguiente variable en la lista, mientras que break deja de correr

**While**

\

Sigue la misma estructura que un if
while(condition){
      ejecución
     }

\

Se ejecutara siempre que la condición se cumpla y seguira funcionado hasta que de falso

\

En la ejecución puede ir cualquier cosa, incluyendo while, if u otra cosa **'break'** sirve para cerrar el ciclo

\

**For**

El for se ejecuta por cada variable en una secuencia

for(var in seq){
 expresión
}

La secuencia puede ser un vector o una lista, marco de datos o matrices en ves de poner var in seq, podemos usar rangos, con i in 1:5

**nchar** es una funcion que nos da el numero de carscteres

En for tambien podemos usar **Break**, pero existe el **'next'** que salta a la siguiente variable en la lista, mientras que break deja de correr

In [1]:
primes <- c(2, 3, 5, 7, 11, 13)

# loop version 1
for (p in primes) {
  print(p)
}

[1] 2
[1] 3
[1] 5
[1] 7
[1] 11
[1] 13

In [2]:
# loop version 2
for (i in 1:length(primes)) {
  print(primes[i])
}

[1] 2
[1] 3
[1] 5
[1] 7
[1] 11
[1] 13

In [5]:
#Preguntar la fecha de hoy

today <- Sys.Date()
today

# Nos da "2025-04-11"

[1] "2025-07-10"

In [6]:
class(today)

#No es una clase vista antes, es una nueva, llamada "Date"

[1] "Date"

In [7]:
#Para obtener la hora usamos

now <- Sys.time()
now

# Nos da "2025-04-11 15:19:13 UTC" POXIc
#en clase POSIXct y POSIXt

[1] "2025-07-10 04:52:43 UTC"

In [11]:
# Para crear valores con fechas y clase Date se usa

my_date <- as.Date("1987-02-13")
my_date

[1] "1987-02-13"

In [12]:
#Es importante usar "año-mes-day"

  # Podemos cambiar el orden poniendo

  my_date <- as.Date("1987-24-05", format = "%Y-%d-%m")
  my_date

[1] "1987-05-24"

In [14]:
#Podemos usar lo siguiente:

# %Y año de 4 cifras (1982)
# %y año de 2 cifras (82)
# %m mes de 2 cifrss (03)
# %d día en 2 cifrss (23)
# %A Dia entre semana (wendays)
# %a día abreviado (wen)
# %B mes (January)
# %b mes abreviado(Jan)


#Además podemos dar formato desde que Definimos con format()

today <- Sys.Date()
format(Sys.Date(), format = "%d %B, %Y")
format(Sys.Date(), format = "Today is a %A!")

[1] "10 July, 2025"

[1] "Today is a Thursday!"

In [17]:
# Para los POSIXct

my_time <- as.POSIXct("1971-05-14 11:25:15")
my_time

[1] "1971-05-14 11:25:15 UTC"

In [18]:
# Podemos usar los siguiente

# %H :horas como número del sistema decimal (00-23)
# %I : horas como número del sistema decimal (01-12)
# %M : minutos como número del sistema decimal
# %S : segundos como número del sistema decimal
# %T : notación abreviada del formato típico %H : %M : %S
# %p :indicador AM/PM

?strptime #para mas detalles

In [20]:
#Lo interesante es que podemos hacer caluclos

my_date
my_date2 <- my_date + 14
my_date2

[1] "1987-05-24"

[1] "1987-06-07"

In [23]:
#podemos calcular diferencia de días

my_date - my_date2
#La diferencia entre POSIX y DATE es que si sumo 1, suma 1 segundo y 1 día respectivamente

now <- Sys.time()
now + 3600          # add an hour
now - 3600 * 24     # subtract a day

birth <- as.POSIXct("1879-03-14 14:37:23")
death <- as.POSIXct("1955-04-18 03:47:12")
einstein <- death - birth
einstein

Time difference of -14 days

[1] "2025-07-10 05:55:17 UTC"

[1] "2025-07-09 04:55:17 UTC"

Time difference of 27792.55 days