<a href="https://colab.research.google.com/github/Brandon-Bernal-Alarcon/Notas--R/blob/main/Intermedio/Coincidencias_y_sapply.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Coincidencias grepl() y grep()**

Las expresiones regulares se pueden utilizar para ver si existe un patrón dentro de una cadena de caracteres un vector de cadenas de caracteres utilizamos lo siguiente:

grepl() devuelve TRUE cuando se encuentra un patrón en la cadena de caracteres  
grep() que devuelve un vector de indices de las cadenas de caracteres con el patrón

grepl(parttner = "caracter buscado", x = "vector donde buscar")

In [3]:
# The emails vector has already been defined for you
emails <- c("john.doe@ivyleague.edu", "education@world.gov", "dalai.lama@peace.org",
            "invalid.edu", "quant@bigdatacollege.edu", "cookie.monster@sesame.tv")

# Use grepl() to match for "edu"
grepl("edu",emails)

[1]  TRUE  TRUE FALSE  TRUE  TRUE FALSE

In [4]:
# Use grep() to match for "edu", save result to hits
hits <- grep("edu",emails)
hits

# Subset emails using hits

sapply(hits,function(x,c){c[x]}, c= emails)

[1] 1 2 4 5

[1] "john.doe@ivyleague.edu"   "education@world.gov"
[3] "invalid.edu"              "quant@bigdatacollege.edu"

**Mas funciones**

Puedes utilizar el caret, ^ (al contenido al principio), y el signo de dólar $ (al final de una cadena) para aplicar coincidencia

colocar (.*) aplicar coincidencia a cualquier carácter (.) cero o más veces (*)

ejemplo a.*b nos da todas las coincidiencias que empiecen con a, termienn con b y tenga 0 o más caracteres enmedio, dando : ab, agkgkb, akkkb, ....

usar \\.edu$ para aplicar coincidencia a la parte ".edu"

La parte \\ le indica a quieres utilizar (.) como carácter real.

In [5]:
# Use grepl() to match for .edu addresses more robustly
grepl("@.*\\.edu$",emails)

# Use grep() to match for .edu addresses more robustly, save result to hits
hits <- grep("@.*\\.edu$",emails)

# Subset emails using hits
emails[hits]

[1]  TRUE FALSE FALSE FALSE  TRUE FALSE

[1] "john.doe@ivyleague.edu"   "quant@bigdatacollege.edu"

**sub() y gsub()**

sub y gsub especifica un argumento replacement. Si dentro del vector de caracteres se encuentra la expresión regular pattern (coincidencias), los elementos coincidentes se sustituirán por replacement. sub() solo sustituye la primera coincidencia, mientras que gsub() sustituye todas las coincidencias

In [7]:
sub("@.*\\.edu$","@datacamp.edu",emails)

[1] "john.doe@datacamp.edu"    "education@world.gov"
[3] "dalai.lama@peace.org"     "invalid.edu"
[5] "quant@datacamp.edu"       "cookie.monster@sesame.tv"

**Mas aplicaciones**

\\s aplica coincidencias a espacios

[0-9]+ aplicar coincidencia a los numeros del 0 al 9 amenos una vez

([0-9]+) los parentecis permite que podamos usar esos numeros para reemplazarlos

**lapply()**

En términos generales, lapply toma un vector o una lista aplica la función FUN a cada uno de sus miembros. Si FUN requiere argumentos adicionales, debes pasarlos después de especificar X FUN ( ... ). La salida de Lapply( es una lista de la misma longitud que , donde cada elemento es el resultado de aplicar FUN al elemento correspondiente de x

\

 lapply(X, FUN, ...)

\

Se puede ocupar con funciones ya definidas o con propias. Se llama funciones anónimas cuando no pones una variable con la función y escribes directamente la fucion en FUN

In [10]:
# Code from previous exercise:
pioneers <- c("GAUSS:1777", "BAYES:1702", "PASCAL:1623", "PEARSON:1857")
split <- strsplit(pioneers, split = ":")
split_low <- lapply(split, tolower)

# Write function select_first()
select_first <- function(x) {
  x[1]
}

# Apply select_first() over split_low: names
names <- lapply(split_low,select_first)

# Write function select_second()
select_second <- function(x){
  x[2]
}

# Apply select_second() over split_low: years
years <- lapply(split_low,select_second)
years

[[1]]
[1] "1777"

[[2]]
[1] "1702"

[[3]]
[1] "1623"

[[4]]
[1] "1857"

**Funciones genéricas**

Podemos crear funciones genericas, asignando variables

In [11]:
multiply <- function(x, factor) {

  x * factor

}
lapply(list(1,2,3), multiply, factor = 3)

[[1]]
[1] 3

[[2]]
[1] 6

[[3]]
[1] 9

**sapply()**

Funciona igual que lapply() pero en vez de regresar una lista, regresa un vector con nombres

Podemos no ponerles nombres, poniendo como argumento

'USE.NAMEZ = FALSE'

Si tenemos más de un vector o regresa varios valores, crea una matriz

Cuando no tienen la misma longitud, se crea una lista como lapply

In [12]:
cadenas <- list("hola", "mundo", "R", "es", "genial")

# Longitud de cada palabra
lapply(cadenas, nchar)
# Lista: [[1]] 4, [[2]] 5, ...

sapply(cadenas, nchar)
# Vector: 4 5 1 2 6

vapply(cadenas, nchar, FUN.VALUE = integer(1))
# Vector entero: 4 5 1 2 6

[[1]]
[1] 4

[[2]]
[1] 5

[[3]]
[1] 1

[[4]]
[1] 2

[[5]]
[1] 6

[1] 4 5 1 2 6

[1] 4 5 1 2 6